<ion-header><ion-toolbar><ion-title>KYC Verification</ion-title></ion-toolbar></ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item><ion-label position="stacked">Full Name</ion-label><ion-input formControlName="fullName"></ion-input></ion-item>
    <ion-item><ion-label position="stacked">Date of Birth</ion-label><ion-input type="date" formControlName="dateOfBirth"></ion-input></ion-item>
    <ion-item><ion-label position="stacked">Phone</ion-label><ion-input formControlName="phone"></ion-input></ion-item>
    <ion-item><ion-label position="stacked">National ID</ion-label><ion-input formControlName="nationalId"></ion-input></ion-item>
    <ion-item><ion-label position="stacked">Address</ion-label><ion-input formControlName="address"></ion-input></ion-item>

    <ion-item>
      <ion-label position="stacked">Identity Document</ion-label>
      <input type="file" accept=".pdf,.png,.jpg,.jpeg" (change)="onDocumentSelected($event)" />
      @if (selectedDocumentName) {
      <p>Selected: {{ selectedDocumentName }}</p>
      }
    </ion-item>

    <ion-button type="submit" expand="block" class="ion-margin-top">Submit KYC</ion-button>
  </form>
</ion-content>
