<ion-header><ion-toolbar><ion-title>Beneficiaries</ion-title></ion-toolbar></ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item><ion-label position="stacked">Name</ion-label><ion-input formControlName="name" /></ion-item>
    <ion-item><ion-label position="stacked">Country</ion-label><ion-input formControlName="country" /></ion-item>
    <ion-item><ion-label position="stacked">TRON USDT Address</ion-label><ion-input formControlName="walletAddress" /></ion-item>
    <ion-button type="submit" expand="block" class="ion-margin-top">Create Beneficiary</ion-button>
  </form>
  @if(items().length === 0){<div class="empty-state">No beneficiaries yet.</div>}
  <ion-list>
    @for (item of items(); track item.id) {
      <ion-item>
        <ion-label>
          <h3>{{ item.name }}</h3>
          <p>{{ item.country }} • {{ item.walletAddress }}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
